<br/>
<form>
    <div class="form-group">
        <label for="exampleInputEmail1" disabled>Nome</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="Bonés" disabled>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Tipo</label>
        <select class="form-control" id="exampleFormControlSelect1" disabled>
            <option>Selecione um tipo</option>
            <option selected>Corpo</option>
            <option>Roupa Intima</option>
            <option>Cabeça</option>
            <option>Pés</option>
        </select>
    </div>
    <button type="button" [routerLink]="['../form']" class="btn btn-primary">Alterar</button>
</form>