<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Tipo</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><a [routerLink]="['../view']">Bonés</a></td>
      <td>Cabeça</td>
      <td><button class="btn btn-info" [routerLink]="['../update']">Alterar</button> <button class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">Excluir</button></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td><a [routerLink]="['../view']">Camisas</a></td>
      <td>Corpo</td>
      <td><button class="btn btn-info" [routerLink]="['../update']">Alterar</button> <button class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">Excluir</button></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td><a [routerLink]="['../view']">Sapatos</a></td>
      <td>Corpo</td>
      <td><button class="btn btn-info" [routerLink]="['../update']">Alterar</button> <button class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">Excluir</button></td>
    </tr>
  </tbody>
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Excluir</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Tem certeza que deseja excluir este registro?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Confirmar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>
